<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="node_modules/angular/angular-csp.css">
  <script src="node_modules/angular/angular.js" defer></script>
  <script src="src/index.js" defer></script>
</head>

<body>
  <div class="container" ng-controller="InvoiceEditorCtrl">
    <div class="row my-4">
      <div class="col">
        <h3> {{title}} 12/09/2021</h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4>Nabywca</h4>
        <dl>
          <dt>Nazwa</dt>
          <dd>Zbyszek</dd>
          <dt>Adres</dt>
          <dd>Sezamkowa</dd>
          <dt>NIP</dt>
          <dd>9081235243</dd>
        </dl>
      </div>
      <div class="col">
        <h4>Sprzedawca</h4>
        <dl>
          <dt>Nazwa</dt>
          <dd>AdamPol</dd>
          <dt>Adres</dt>
          <dd>Plastusiowa</dd>
          <dt>NIP</dt>
          <dd>23904832423</dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <td>Poz.</td>
              <td style="width:30%">Produkt</td>
              <td>Netto</td>
              <td>VAT</td>
              <td>Brutto</td>
              <td style="width:100px">Akcja</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="positions in invoice.positions">
              <td>{{$index+1}}</td>
              <td><input type="text" ng-model="positions.title"></td>
              <td><input type="number" ng-model="positions.netto"></td>
              <td><input type="number" ng-model="positions.tax"></td>
              <td><input type="number" ng-model="positions.brutto"></td>
          <!--    <td><input type="number" ng-model="positions.netto+(positions.netto*positions.tax)/100"></td> -->
              <td>
                <button class="btn btn-success" ng-click='removePosition(positions)'>-</button>
                <button class="btn btn-danger" ng-click='addPosition()'>+</button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3"></td>
              <td colspan="1">Razem:</td>
              <td colspan="1">{{scope.total}}</td>
            </tr>
          </tfoot>
        </table>
        <button class="btn btn-danger" ng-click='calcTotal()'>Suma</button>
      </div>
    </div>
  </div>
</body>

</html>