<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav">
        <!--
        <li class="nav-item" ng-repeat="page in pages">
       
<a class="nav-link" href="#" ng-click="goToPage(page.name)">{{page.label}}</a>
    
        </li>
             -->
        <li class="nav-item">
          <a class="nav-link" ui-sref="users">users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ui-sref="tasks">tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ui-sref="settings">settings</a>
        </li>

      </ul>
      <div class="ms-auto navbar-text">
        <span>Welcome {{ user.name }}, Login </span>
      </div>
    </div>
  </div>
</nav>

<ui-view></ui-view>