<!--<div ng-controller="SettingsPageCtrl">
    {{settingsPage.test}}
    <h3>Settings</h3>
    <app-hightlight></app-hightlight>
    <div app-hightlight=""> </div>
    <div class="app-hightlight"></div>
-->
<div class="container" ng-controller="SettingsPageCtrl">
        <h3>Settings</h3>
        <h4>Ostatnia zamknięta {{zmienna}}</h4>
        <input type="text" ng-model="zmienna" >
        <app-alert message="Wystapil blad" type="danger" on-dismiss="zmienna = 1"></app-alert>
        <app-alert message="Brak wiadomosci" type="info" on-dismiss="zmienna = 2"></app-alert>
        <app-alert message="Wiadomosc wyslana" type="success" on-dismiss="zmienna = 3"></app-alert>
</div>