<div class="row" ng-controller="TaskCtrl">
  <div class="col">
    <div>Active task {{numberNotDoneTask}} </div>
    <div>Done task {{numberDoneTask}} </div>
    <div class="mb-3">
      <input id="serchButton" type="text" class="form-label" ng-model="taskName">
      <button class="btn btn-danger" ng-click='searchTask()'>SearchTask</button>
    </div>
    <div class="list-group-item" ng-repeat="task in filterTask" ng-click=selected(task.id)
      ng-class="{'active': draft.id === task.id, 'text-decoration-line-through' : task.completed }">

      {{$index+1}}.{{task.name}}
      <button class="btn btn-danger" ng-click='deleteElement($index)'>delete</button>
    </div>
  </div>
  <div class="col">
    <dl ng-show="mode !== 'edit'">
      <dt>Name:</dt>
      <dd>{{draft.name}}</dd>
      <dt>Completed:</dt>
      <dd>{{draft.completed ? 'yes' : 'no' }}</dd>
      <button class="btn btn-info" ng-click='echo()'>Edit</button>
      <button class="btn btn-info" ng-click='newTask()'>New Task</button>
    </dl>
    <form ng-show="mode === 'edit'">
      <!-- .form-group>label{Name}+input.form-control -->
      <div class="form-group mb-3"><label for="task_name"></label>
        <input id="task_name" type="text" class="form-control" ng-model="nowa.name"
          ng-keypress='$event.keyCode === 13 && saveNewTask()'>
      </div>
      <div class="form-group mb-3"><label for="task_completed">
          <input id="task_completed" type="checkbox" ng-model="nowa.completed">
          Completed</label>
        <button class="btn btn-danger" ng-click='hidden()'>Hidden</button>
        <button class="btn btn-danger" ng-click='clear()'>Clear</button>
        <button class="btn btn-danger" ng-click='save()'>Save</button>
        <button class="btn btn-danger" ng-click='saveNewTask()'>Save New Task</button>
      </div>
    </form>
  </div>
</div>