<div class="row" ng-controller='UsersPageCtrl'>
    <div class="col">

        <h1>User List</h1>
        <div class="list-group-item" ng-repeat="user in usersPage.users" ng-click='usersPage.select(user.id)'>
            {{user.id}} {{user.username}}
        </div>
        <button ng-click="usersPage.creatNew()">Create new</button>
    </div>
    <div class="col">
        <div class="col-5" ng-if="usersPage.selected && usersPage.mode == 'show'">
            <h5>User details</h5>
            <dl>
                <dt>Name</dt>
                <dd>{{usersPage.selectedUserTemp.username}}</dd>
                <dt>E-mail</dt>
                <dd></dd>
            </dl>
            <button ng-click="usersPage.edit()">Edit</button>
            <!-- <ng-include src="'user-details.tpl.html'"></ng-include> -->
        </div>
        <p class="text-danger" ng-if="usersPage.message">{{usersPage.message}}</p>
        <div name="usersPage.form" ng-class="UsersEditFormCtrl" ng-if="usersPage.selected && usersPage.mode == 'edit'">

            <form name="usersPage.form">
                <h5 ng-if="usersPage.formMode == 'edit'">You are edit user {{usersPage.selectedUserTemp.username}} with
                    id
                    {{usersPage.selectedUserTemp.id}}</h5>
                <h5 ng-if="usersPage.formMode == 'new'">You create new user</h5>

                <div class="form-group mb-3"><label for="user_name">User Name</label>
                    <input type="text" class="form-control" ng-model='usersPage.selectedUserTemp.username' name="name"
                        required minlength="3">
                    <div
                        ng-if="usersPage.form['name'].$dirty || usersPage.form['name'].$touched || usersPage['name'].form.$submitted">
                        <p class="text-danger" ng-if="usersPage.form['name'].$error.minlength">Name is too short!</p>
                        <p class="text-danger" ng-if="usersPage.form['name'].$error.required">Name is required!</p>
                    </div>
                    <label for="">Email</label>
                    <input type="text" class="form-control" ng-model="usersPage.draft.email" name="email" required>
                    <div
                        ng-if="usersPage.form['name'].$dirty || usersPage.form['name'].$touched || usersPage.form['name'].$submitted">
                        <p class="text-danger" ng-if="usersPage.form['email'].$error.required">Email is required !</p>
                    </div>
                </div>
                <div>
                    <button class="btn btn-danger" ng-click='usersPage.save(usersPage.selectedUserTemp)'>Save</button>
                    <button class="btn btn-danger"
                        ng-click='usersPage.deleteUser(usersPage.selectedUserTemp)'>delete</button>
            </form>
        </div>
    </div>
</div>

</div>