<!DOCTYPE html>
 
<html>
 
<head>
    <meta charset="UTF-8">
    <title>Course list</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="node_modules/angular/angular-csp.css">
    <script src="node_modules/angular/angular.js" defer></script>>
    <script src="courseListApp.js" defer></script>
</head>
 
<body ng-controller="courseController">
  <div class="page-header">
      <h1>
          {{courses.user}}'s course list
          <span class="label label-default">{{courses.items.length}}</span>
      </h1>
  </div>
  <div class="panel">
      <div class="input-group">
          <input class="form-control" />
          <span class="input-group-btn">
              <button class="btn btn-default">Add</button>
          </span>
      </div>
      <table class="table table-striped">
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Already attended</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="item in courses.items">
                  <td>{{item.name}}</td>
                  <td>{{item.attended}}</td>
              </tr>
          </tbody>
      </table>
  </div>
</body>
 
</html>