<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="node_modules/angular/angular-csp.css">
  <script src="node_modules/angular/angular.js" defer></script>
  <script src="src/tasks/task.js" defer></script>
  <script src="src/index.js" defer></script>
</head>

<body>
  <div class="container" ng-controller="ApptCtrl">
    <div class="row">
      <div class="col">
        <h1>Angular {{title}}</h1>

        <div class="row"></div>

        <div class="col">
          <span>Welcome {{ user.name }}, </span>
          <span ng-click="login()" ng-hide="isLoggedIn">Login</span>
          <span ng-click="logout()" ng-show="isLoggedIn">Logout</span>
          <input type="text" ng-model="user.name">
        </div>
        <div class="row" ng-controller="TaskCtrl">
          <div class="col"></div>
          <div class="col"></div>
          <dl>
            <dt>Name:</dt>
            <dd>{{task.name}}</dd>
            <dt>Completed:</dt>
            <dd>{{task.completed ? 'yes' : 'no' }}</dd>
            <button class="btn btn-info" ng-click='echo()'>Edit</button>
          </dl>
          <form ng-show="mode === 'edit'">
            <!-- .form-group>label{Name}+input.form-control -->
            <div class="form-group mb-3"><label for="task_name"></label>
              <input id="task_name" type="text" class="form-control" ng-model='nowa.name'>
            </div>
            <div class="form-group mb-3"><label for="task_completed">
                <input id="task_completed" type="checkbox" ng-model='nowa.completed'>
                Completed</label>
              <button class="btn btn-danger" ng-click='hidden()'>Hidden</button>
              <button class="btn btn-danger" ng-click='clear()'>Clear</button>
              <button class="btn btn-danger" ng-click='save()'>Save</button>
            </div>
          </form>
        </div>
      </div>


    </div>
  </div>
  </div>
</body>

</html>